<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="/styles/style.css" rel="stylesheet">
    <title>Change the title</title>
  </head>
  <body>
    <h1 class="text-red-700">{{ message }}</h1>
    
  </body>
</html>